{% extends 'base.html' %}

{% block title %}
 | Course List
{% endblock %}
{% block bodyblock %}
<head>
    <style>
        .pag {
            display: flex;
            justify-content: center;
            align-items: center;
        }

            .pag a {
                color: white;
                float: left;
                padding: 10px 16px;
                text-decoration: none;
            }

                .pag a:hover:not(.active) {
                    background-color: red;
                    border-radius: 5px;
                }
    </style>

</head>
<section class="text-gray-400 bg-gray-900 body-font">
    <div class="container px-5 py-24 mx-auto">
        <div class="flex flex-wrap -m-4">
            {% for object in object_list %}
            <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
                <a class="block relative h-48 rounded overflow-hidden" href="{{ object.slug }}">
                    <img alt="ecommerce" class="object-relative object-center w-full h-full block" src="../media/{{ object.image }}">
                </a>
                <div class="mt-4">
                    <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">{{ object.Category }}</h3>
                    <h2 class="text-white title-font text-lg font-medium">{{ object.name }}</h2>
                    <p class="mt-1">&#8360. {{ object.price }}</p>
                    <p class="mt-1">Course Available: {{ object.stock }}</p>
                </div>
            </div>

            {% endfor %}
        </div>
    </div>
    <div class="pag">
        Course {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        <ul class="pag">
            {% if page_obj.has_previous %}
            <li><a href="?page=1">&laquo; Next Page</a></li>
            <li><a href="?page={{ page_obj.previous_page_number }}">Previous Page</a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}">Next Page</a></li>
            {% endif %}
        </ul>
    </div>
</section>

{% endblock %}