{% extends 'base.html' %}
{% block title %} | About {% endblock %}

{% block bodyblock %}

<section class="text-gray-400 bg-blue-900 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex items-center lg:w-3/5 mx-auto border-b pb-10 mb-10 border-gray-800 sm:flex-row flex-col">
  
      <div class="flex-grow sm:text-left text-center mt-6 sm:mt-0">
        <h2 class="text-white text-lg title-font font-medium mb-2">About</h2>
        <p class="leading-relaxed text-base">As we are already residing in the 21st Century, there wants to be changed in our way of living, and improvement starts from mastering so this platform would mechanically contribute toward human development via the field of education.
          Electronic gaining knowledge of the platform is a built-in set of interactive online choices that supply teachers, learners, dad, and mom, etc. concerned in education with information, tools, and assets to help and decorate instructional transport and management.
          </p>
      </div>
    </div>
    <div class="flex items-center lg:w-3/5 mx-auto border-b pb-10 mb-10 border-gray-800 sm:flex-row flex-col">
      <div class="flex-grow sm:text-left text-center mt-6 sm:mt-0">
        <h2 class="text-white text-lg title-font font-medium mb-2">Features</h2>
        <p class="leading-relaxed text-base"> 	Students would easy find their desired courses with full learning means and mediums.
          Students would be able to learn on their desired time when evener they are free and intend to learn.
          Students would be able to learn from their own location, sitting on their couch at own rooms make them catch stuffs easily.
          Students would be able to learn at their own pace not by their school, colleges, and universities time limitations. 
          Payment of the desired course only need to be done by the learners.
          Reference their courses and find every resource in one location only.
          Payment method are also easy as the system itself contains one of the major payment methods integrated into it.
          Students also can select other courses rather from their desired course and keep on the Carts for future learning.
          Also, can contact the authorities for other important stuffs required for their learning.
       </p>
      </div>

    </div>
    <div class="flex items-center lg:w-3/5 mx-auto sm:flex-row flex-col">
      
      <div class="flex-grow sm:text-left text-center mt-6 sm:mt-0">
        <h2 class="text-white text-lg title-font font-medium mb-2">Future Plan</h2>
        <p class="leading-relaxed text-base"> 	Develop this system with courses downloading feature.
          Develop the system with each course desired by the client.
          Integrating other various payment methods.
          Language selection system would be added in future so that not only the people who speaks English but also can read the site won their own native language or their mother tongue.
          Providing user with video tutorials in they system by changing the other flexible database system.
          Creating admin with better dashboard in future from where course information would be added properly.
          Implementing chatbot’s also would help user a lot. So, this feature also would be added in future.
       </p>
      </div>
    </div>
  </div>
</section>

{% endblock %}